<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
  </head>
  <body>
    <form class="form" action="/users" method="POST" enctype="application/json">
      <input
        type="text"
        class="fistname"
        name="fistname"
        placeholder="fistname"
      />
      <input
        type="text"
        class="lastname"
        name="lastname"
        placeholder="lastname"
      />
      <button class="submit">Create User</button>
    </form>
  </body>
</html>
