<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1><%= page %></h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis amet quis
      architecto impedit atque maiores ipsum, aut doloremque provident deleniti
      natus quod voluptatum porro autem, excepturi dolorem adipisci temporibus.
      Dolorem.
    </p>
    <img src="/images/senior.jpg" alt="img" />
  </body>
</html>
